@font-face {
    font-family: Montserrat-extrabold;
	src: url(../css/Montserrat-ExtraBold.otf);
}
body{
    max-width: 1000px;
    margin: 0 auto;
}
.container-first{
    text-align: center;
    background-color: #EFF1F2;
    font-family: 'Montserrat', sans-serif;  
}
    .photo_profile{
        width: 340px;
        height: 340px;
        margin: 124px 0px 36px 0px; /*top right button left*/
        border-radius: 170px;
    }
    .name{
        font-size: 40px;
        margin: 0px 0px 8px 0px;
        }
    .name_job{
        opacity: 0.7;
        font-family: 'PT Mono', monospace;
        width: 504px;
        margin: auto;
        font-size: 14px;
        padding-bottom: 20px;
    }
    .reach_button{
        padding: 0px;
        border: 0px;
        background-color:#0059D9; 
        color: white;
        width: 280px;
        height: 52px;
        border-radius: 5px;
        font-size: 18px;
        margin-bottom: 124px;
        font-family: 'Montserrat', sans-serif;
        outline:none;
    }
    .reach_button:hover,
    .button_send:hover{
        background-color:#000; 
    }
    .reach_button:active,
    .button_send:active{
        background-color:#0059D9; 
        opacity: 0.7;
    }
.container-second{
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin-bottom: 100px;
}
    .expectation{
        font-size: 32px;
        width: 700px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 16px;
    }
    .expectation_name{
        font-size: 18px;
        width: 700px;
        margin: auto;
        border-top: 1px solid #D2D9E2;
        padding-top: 14px;
        padding-bottom: 14px;
        color: #0059D9;
    }
    .close{
        stroke:#0059D9 ; 
        stroke-width:2; 
        fill:none;
        float: right;
        margin-top: -36px;
        transform: rotate(225deg);
        }
    #hider:hover .expectation_name,
    #hider1:hover .expectation_name, 
    #hider2:hover .expectation_name,
    #hider3:hover .expectation_name {
        color: #000000;
    }
    #hider:hover svg,
    #hider1:hover svg,
    #hider2:hover svg,
    #hider3:hover svg {
        stroke:#000 ; 
        transform: rotate(-225deg);
    }
    #hider:hover + .expectation_name_text,
    #hider1:hover + .expectation_name_text,
    #hider2:hover + .expectation_name_text,
    #hider3:hover + .expectation_name_text{
        animation: play 1s;
        display: block;
    }
    @keyframes play{
        from {opacity: 0;}
        to {opacity: 0.7;}
    }
    #hider,
    #hider1,
    #hider2,
    #hider3{
        margin: 0 auto;
        width: 700px;
    }
    .expectation_name_text{
        margin: 0px;
        opacity: 0.7;
        font-family: 'PT Mono', monospace;
        width: 520px;
        margin-left: 150px;
        font-size: 14px;
        color: #000000;
        line-height: 20px;
        margin-bottom: 20px;
        display: none;
    }
.container-third{
    text-align: center;
    max-height: 720px;
    color: white;
    background-color: #25282A;
    height: 523px;
    font-family: 'Montserrat', sans-serif;   
}
    .my_work{
        margin: 0;
        font-family: 'Montserrat', sans-serif; 
        font-size: 32px;
        color: #FFFFFF;
        line-height: 36px;
        padding-top: 100px;
    }
    /* .my_work_text{
        opacity: 0.7;
        font-family:  'PT Mono', monospace;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 20px;
        margin: auto;
        margin-top: 8px;
    } */
.container-fourth{
    text-align: center;
    width: 1000px;
    background-color: #EFF1F2;
    font-family: 'Montserrat', sans-serif; 
    margin: auto;
}
    .info{
        font-size: 32px;
        color: #000000;
        text-align: center;
        padding-top: 100px;
        margin: 0px;
    }
    .icon{
        border-radius: 170px;
        text-decoration:none;
        margin: 16px 11px 16px 0px;
        opacity: 0.9;
        width: 48px;
        height: 48px;
    }
    .icon:hover{
        opacity: 1;  
    }
    a:active{
        opacity: 0.7;
    }
    .text_info{
        font-family:  'PT Mono', monospace;
        font-size: 14px;
        color: #000000;
        margin: auto;
        line-height: 20px;
        width: 700px;
        margin-bottom: 38px; 
        font-weight: bold;
        opacity: 0.8;
    }
    .input_name_email{
        background: #FFFFFF;
        border: 1px solid rgba(31,64,111,0.20);
        border-radius: 4px;
        width: 328px;
        height: 32px;
        margin: 0px 7px 20px 7px;
        padding-left: 12px;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        color: #000000;
        line-height: 20px;
    }
    .message{
        width: 687px;
        height: 126px;
        font-family: 'PT Sans', sans-serif;
        border: 1px solid rgba(31,64,111,0.20);
        border-radius: 4px;
        font-size: 16px;
        padding-left: 12px; 
        padding-top: 6px;
        resize:none;
    }
    input::-moz-placeholder { opacity: 0.8;}
    input::-webkit-input-placeholder { opacity: 0.8;}

    textarea::-moz-placeholder { opacity: 0.8; }
    textarea::-webkit-input-placeholder { opacity: 0.8;}

    input:focus,textarea:focus{
        border: 1px solid #0059D9;
        outline:none;
        }


        /* .form__error {
            color: red;
            text-align: left;
            font-size: 12px;
            display: block;
            margin-top: 3px;
            display: none;
        }
        .form__field{
            display: inline-block ;
        } */


        input:valid:not(:placeholder-shown) {
            border-color: green;
        }
        
        input:invalid:not(:placeholder-shown) {
            border-color: red;
        }
        input:invalid:not(:placeholder-shown) + .form__error {
            display: block;
        }


    .button_file{
        background: rgba(255,255,255,0.00);
        border: 1px solid rgba(31,64,111,0.20);
        border-radius: 4px;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        color: #0059D9;
        text-align: center;
        line-height: 20px;
        width: 699px;
        height: 36px;
        margin: 16px 0px 20px 0px;
        outline:none;
    }
    .button_file:hover{
        color: #000; 
    }
    .button_file:active{
        color:#0059D9; 
        opacity: 0.7;
    }
    .button_send{
        background: #0059D9;
        border-radius: 4px;
        width: 699px;
        height: 52px;
        font-family: 'Montserrat', sans-serif; 
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 100px;
        border: 0px;
        outline:none;
    }
  